@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2022-04-04 20:38:45
 * @version $Id$
 */
.bg{width: 1300px;height: 800px;background: #99bd90;}
.box1{
    display: flex;
    box-sizing: content-box;
    width: 390px;
    height: 110px;
    /* margin-left: 80px; */
    background: #ffe6f4;
    flex-direction:column;
}
.box{
    background: #ffffeb;
    display: flex;
    box-sizing: content-box;
    width: 390px;
    height: 260px;
    /* margin-left: 80px; */
    flex-direction:column;
}
.box2{
    box-sizing: border-box;
    width: 370px;
    height: 20px;
    background: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
    margin-right:20px;
}
.box3{
    box-sizing: border-box;
    width: 370px;
    height: 30px;
    background: #ffffff;
    margin-top: 10px;
    margin-left: 10px;
    margin-right:20px;
    display: flex;
}
.box-item0 {
    margin-left: 10px;
    color: red;
}

.box-item {
    margin-left: 10px;
}

.box-item1 {
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.box-item2 {
    font-size: 1px;
    margin-top: 10px;
    color: gray;
}

.box-item3 {
    margin-left: 140px;
    margin-top: 10px;
    font-size: 1px;
    color: grey;
}
.bbox {
    display: flex;
    flex-direction: column;
}

.sbox {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bk {
    margin-left: 15px;
}
.xbox {
    display: flex;
}